 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .product{
        width: 100vw;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .product{
        width: 100vw;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .product{
        width: 49vw;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .product{
        width: 49vw;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .product{
        width: 49vw;
    }
 } 